.green {
  background-color: #a9dc76; /* bright yellow */
  color: black; /* or black, depending on theme */
  padding: 0 4px;
  border-radius: 3px;
}

.blue {
  background-color: #78dce8; /* bright blue */
  color: black; /* or black, depending on theme */
  padding: 0 4px;
  border-radius: 3px;
}

.red {
  background-color: #ff6188; /* bright red */
  color: black; /* or black, depending on theme */
  padding: 0 4px;
  border-radius: 3px;
}